In [15]:
import pandas as xyz

emp_data = {"name": "Muskan", "age" : 25, "height": 5}

xyz.DataFrame(emp_data, index=[4])

     name  age  height
4  Muskan   25       5

In [16]:
import pandas as pd
emp = [1,2,3]
pd.Series(emp)

0    1
1    2
2    3
dtype: int64

### âœ… 1. Create a DataFrame

#### Q: Create a DataFrame with columns:
#### name = ["A", "B", "C"], age = [20, 25, 30]

In [18]:
import pandas as pd
s = {"name": ["A", "B", "C"], "age" : [20,30,40]}
pd.DataFrame(s)

  name  age
0    A   20
1    B   30
2    C   40

In [44]:

#### Add a new column

import pandas as pd

td = [{"name": "Muskan", "class": 10, "occ": "analyst"}, {"name": "Kanchan", "class": 20, "occ": "student"}]
pd.DataFrame(td)

      name  class      occ
0   Muskan     10  analyst
1  Kanchan     20  student

In [36]:
import pandas as pd
df = [{"city": "HP", "cap": "Shimla"}, {"city": "UP", "cap": "bh"}]
pd.DataFrame(df)

  city     cap
0   HP  Shimla
1   UP      bh

In [48]:
import pandas as pd

In [80]:
df = pd.read_csv("C:\\Users\\muska\\OneDrive\\Desktop\\employees.csv")
print(df)
print("--------------------------------------------")
print(df[0:5])
print("--------------------------------------------")
print(df.tail(1)) #Prints only first 5 lines

      Name  Age       City Joining_Date  Salary
0    Alice   25      Delhi   2023-01-15   50000
1      Bob   30     Mumbai   2022-07-20   60000
2  Charlie   28    Chennai   2021-05-10   55000
3    David   35    Kolkata   2020-11-05   70000
4      Eve   22  Bangalore   2024-02-01   48000
--------------------------------------------
      Name  Age       City Joining_Date  Salary
0    Alice   25      Delhi   2023-01-15   50000
1      Bob   30     Mumbai   2022-07-20   60000
2  Charlie   28    Chennai   2021-05-10   55000
3    David   35    Kolkata   2020-11-05   70000
4      Eve   22  Bangalore   2024-02-01   48000
--------------------------------------------
  Name  Age       City Joining_Date  Salary
4  Eve   22  Bangalore   2024-02-01   48000

In [91]:
df[["Name", "City"]]

      Name       City
0    Alice      Delhi
1      Bob     Mumbai
2  Charlie    Chennai
3    David    Kolkata
4      Eve  Bangalore

In [92]:
len(df)

5

In [93]:
st = len(df) - 3
en = len(df)

In [102]:
df[st : en]

      Name  Age       City Joining_Date  Salary
2  Charlie   28    Chennai   2021-05-10   55000
3    David   35    Kolkata   2020-11-05   70000
4      Eve   22  Bangalore   2024-02-01   48000

In [95]:
df.shape

(5, 5)

In [96]:
df.shape[0]

5

In [97]:
df.shape[1]

5

In [99]:
rows = df.shape[0]
cols = df.shape[1]

In [101]:
print(str(rows) + " : " + str(cols))

5 : 5

In [103]:
st = len(df) - 3

In [104]:
df

      Name  Age       City Joining_Date  Salary
0    Alice   25      Delhi   2023-01-15   50000
1      Bob   30     Mumbai   2022-07-20   60000
2  Charlie   28    Chennai   2021-05-10   55000
3    David   35    Kolkata   2020-11-05   70000
4      Eve   22  Bangalore   2024-02-01   48000

In [106]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import random

# Sample data pools
products = ["Laptop", "Mobile", "Headphones", "Keyboard", "Mouse", "Monitor", "Camera", "Printer", "Tablet", "Speaker"]
categories = ["Electronics", "Accessories", "Gadgets"]
cities = ["Delhi", "Mumbai", "Bengaluru", "Chennai", "Kolkata", "Hyderabad"]
salespersons = ["Amit", "Rohit", "Sneha", "Muskan", "Priya", "Karan"]

# Generate 20 rows
rows = 20

data = {
    "Product_ID": np.arange(1001, 1001 + rows),
    "Product_Name": np.random.choice(products, rows),
    "Category": np.random.choice(categories, rows),
    "Units_Sold": np.random.randint(1, 50, rows),
    "Price": np.random.randint(500, 50000, rows),
    "City": np.random.choice(cities, rows)
}



# Create DataFrame
df = pd.DataFrame(data)

print(df)

    Product_ID Product_Name     Category  Units_Sold  Price       City
0         1001      Printer      Gadgets          33  36864    Kolkata
1         1002      Speaker      Gadgets           3   5944  Hyderabad
2         1003      Speaker  Accessories          23  29034    Kolkata
3         1004       Mobile  Accessories          33  48681  Hyderabad
4         1005      Speaker      Gadgets          12   6716  Bengaluru
5         1006      Speaker      Gadgets          37  19419  Hyderabad
6         1007      Printer  Electronics           6  15925     Mumbai
7         1008     Keyboard  Accessories          40  49958  Hyderabad
8         1009        Mouse  Accessories          11  43532    Chennai
9         1010     Keyboard  Accessories          23   8372    Kolkata
10        1011      Speaker  Accessories          19   7122      Delhi
11        1012   Headphones      Gadgets          26   5791     Mumbai
12        1013       Tablet  Accessories          40   2442    Chennai
13        1014        Mouse  Electronics          15   5994      Delhi
14        1015        Mouse  Electronics          33  47772    Chennai
15        1016       Tablet      Gadgets          21  25387    Chennai
16        1017       Laptop      Gadgets          48  21820  Bengaluru
17        1018      Monitor      Gadgets          31  43668  Bengaluru
18        1019      Monitor  Accessories           5  36530    Kolkata
19        1020      Speaker  Electronics          24  44714  Bengaluru

In [108]:
df[9:20]

    Product_ID Product_Name     Category  Units_Sold  Price       City
9         1010     Keyboard  Accessories          23   8372    Kolkata
10        1011      Speaker  Accessories          19   7122      Delhi
11        1012   Headphones      Gadgets          26   5791     Mumbai
12        1013       Tablet  Accessories          40   2442    Chennai
13        1014        Mouse  Electronics          15   5994      Delhi
14        1015        Mouse  Electronics          33  47772    Chennai
15        1016       Tablet      Gadgets          21  25387    Chennai
16        1017       Laptop      Gadgets          48  21820  Bengaluru
17        1018      Monitor      Gadgets          31  43668  Bengaluru
18        1019      Monitor  Accessories           5  36530    Kolkata
19        1020      Speaker  Electronics          24  44714  Bengaluru

In [109]:
t = df.shape

In [110]:
print(t)

(20, 6)

In [111]:
t[0]

20

In [112]:
t[1]

6

In [113]:
# DataFrame -> List of dict or Dict of lists

In [136]:
# DataFrame -> excel or csv
import pandas as pd

c = pd.read_csv("C:\\Users\\muska\\OneDrive\\Desktop\\employees.csv")
print(c)

      Name  Age       City Joining_Date  Salary
0    Alice   25      Delhi   2023-01-15   50000
1      Bob   30     Mumbai   2022-07-20   60000
2  Charlie   28    Chennai   2021-05-10   55000
3    David   35    Kolkata   2020-11-05   70000
4      Eve   22  Bangalore   2024-02-01   48000

In [148]:
c.loc[((c['Age'] > 25) | (c['Salary'] < 60000))]

      Name  Age       City Joining_Date  Salary
0    Alice   25      Delhi   2023-01-15   50000
1      Bob   30     Mumbai   2022-07-20   60000
2  Charlie   28    Chennai   2021-05-10   55000
3    David   35    Kolkata   2020-11-05   70000
4      Eve   22  Bangalore   2024-02-01   48000

In [120]:
d = {"c1" : [1,2,3], "c2" : [2,2,3], "c3" : [2,2,3], "c4" : [2,2,3]}

TypeError: unhashable type: 'list'

In [121]:
print(d[["c1", "c2"]])

TypeError: unhashable type: 'list'

In [149]:
import pandas as pd

r = {"name": "Muskan", "city": "Delhi"}
s = pd.Series(r)
print(s)

name    Muskan
city     Delhi
dtype: object

In [152]:
import pandas as pd
r = {"name": "Muskan", "city": "Delhi"}
s = pd.Series("Muskan", index = [1,2,3,4,5])
print(s)

1    Muskan
2    Muskan
3    Muskan
4    Muskan
5    Muskan
dtype: object

In [153]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import random

# Sample data pools
products = ["Laptop", "Mobile", "Headphones", "Keyboard", "Mouse", "Monitor", "Camera", "Printer", "Tablet", "Speaker"]
categories = ["Electronics", "Accessories", "Gadgets"]
cities = ["Delhi", "Mumbai", "Bengaluru", "Chennai", "Kolkata", "Hyderabad"]
salespersons = ["Amit", "Rohit", "Sneha", "Muskan", "Priya", "Karan"]

# Generate 20 rows
rows = 20

data = {
    "Product_ID": np.arange(1001, 1001 + rows),
    "Product_Name": np.random.choice(products, rows),
    "Category": np.random.choice(categories, rows),
    "Units_Sold": np.random.randint(1, 50, rows),
    "Price": np.random.randint(500, 50000, rows),
    "City": np.random.choice(cities, rows)
}



# Create DataFrame
df = pd.DataFrame(data)

print(df)

    Product_ID Product_Name     Category  Units_Sold  Price       City
0         1001       Tablet  Electronics          39   4131      Delhi
1         1002      Speaker  Electronics           2  39904  Bengaluru
2         1003       Camera  Electronics          37  39502    Kolkata
3         1004       Laptop  Accessories          24   1557    Chennai
4         1005      Printer      Gadgets          35  33905  Bengaluru
5         1006      Printer      Gadgets          45  20564     Mumbai
6         1007       Laptop  Accessories           6   3554    Chennai
7         1008       Laptop      Gadgets          16  35784  Bengaluru
8         1009      Printer  Electronics          24  39704    Chennai
9         1010       Camera  Accessories           1  20577      Delhi
10        1011      Monitor      Gadgets          12   7366  Hyderabad
11        1012       Tablet  Accessories          20  28818  Bengaluru
12        1013       Laptop  Electronics          42  45221  Hyderabad
13        1014   Headphones  Accessories          45   9324  Bengaluru
14        1015       Camera  Electronics          19   1091     Mumbai
15        1016       Camera  Electronics          41  36622    Chennai
16        1017      Speaker  Accessories          46  38209    Chennai
17        1018      Speaker  Accessories          19  48114    Kolkata
18        1019       Laptop  Electronics          25  18984  Hyderabad
19        1020        Mouse      Gadgets          20  22593    Kolkata

In [160]:
df.to_excel("xyz.xlsx")

In [157]:
df.to_excel("xyz.xlsx", index=False)

ModuleNotFoundError: No module named 'openpyxl'

In [158]:
df.to_excel("employees.xlsx", index=False)

ModuleNotFoundError: No module named 'openpyxl'

In [159]:
df.to_excel(r"C:\Users\Muskan\Desktop\employees.xlsx", index=False)

ModuleNotFoundError: No module named 'openpyxl'

In [161]:
---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
Cell In[159], line 1
----> 1 df.to_excel(r"C:\Users\Muskan\Desktop\employees.xlsx", index=False)

File ~\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas\util\_decorators.py:333, in deprecate_nonkeyword_arguments.<locals>.decorate.<locals>.wrapper(*args, **kwargs)
    327 if len(args) > num_allow_args:
    328     warnings.warn(
    329         msg.format(arguments=_format_argument_list(allow_args)),
    330         FutureWarning,
    331         stacklevel=find_stack_level(),
    332     )
--> 333 return func(*args, **kwargs)

File ~\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas\core\generic.py:2417, in NDFrame.to_excel(self, excel_writer, sheet_name, na_rep, float_format, columns, header, index, index_label, startrow, startcol, engine, merge_cells, inf_rep, freeze_panes, storage_options, engine_kwargs)
   2404 from pandas.io.formats.excel import ExcelFormatter
   2406 formatter = ExcelFormatter(
   2407     df,
   2408     na_rep=na_rep,
   (...)   2415     inf_rep=inf_rep,
   2416 )
-> 2417 formatter.write(
   2418     excel_writer,
   2419     sheet_name=sheet_name,
   2420     startrow=startrow,
   2421     startcol=startcol,
   2422     freeze_panes=freeze_panes,
   2423     engine=engine,
   2424     storage_options=storage_options,
   2425     engine_kwargs=engine_kwargs,
   2426 )

File ~\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas\io\formats\excel.py:943, in ExcelFormatter.write(self, writer, sheet_name, startrow, startcol, freeze_panes, engine, storage_options, engine_kwargs)
    941     need_save = False
    942 else:
--> 943     writer = ExcelWriter(
    944         writer,
    945         engine=engine,
    946         storage_options=storage_options,
    947         engine_kwargs=engine_kwargs,
    948     )
    949     need_save = True
    951 try:

File ~\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas\io\excel\_openpyxl.py:57, in OpenpyxlWriter.__init__(self, path, engine, date_format, datetime_format, mode, storage_options, if_sheet_exists, engine_kwargs, **kwargs)
     44 def __init__(
     45     self,
     46     path: FilePath | WriteExcelBuffer | ExcelWriter,
   (...)     55 ) -> None:
     56     # Use the openpyxl module as the Excel writer.
---> 57     from openpyxl.workbook import Workbook
     59     engine_kwargs = combine_kwargs(engine_kwargs, kwargs)
     61     super().__init__(
     62         path,
     63         mode=mode,
   (...)     66         engine_kwargs=engine_kwargs,
     67     )

ModuleNotFoundError: No module named 'openpyxl'

SyntaxError: invalid syntax (3946775326.py, line 1)

In [162]:
df

    Product_ID Product_Name     Category  Units_Sold  Price       City
0         1001       Tablet  Electronics          39   4131      Delhi
1         1002      Speaker  Electronics           2  39904  Bengaluru
2         1003       Camera  Electronics          37  39502    Kolkata
3         1004       Laptop  Accessories          24   1557    Chennai
4         1005      Printer      Gadgets          35  33905  Bengaluru
5         1006      Printer      Gadgets          45  20564     Mumbai
6         1007       Laptop  Accessories           6   3554    Chennai
7         1008       Laptop      Gadgets          16  35784  Bengaluru
8         1009      Printer  Electronics          24  39704    Chennai
9         1010       Camera  Accessories           1  20577      Delhi
10        1011      Monitor      Gadgets          12   7366  Hyderabad
11        1012       Tablet  Accessories          20  28818  Bengaluru
12        1013       Laptop  Electronics          42  45221  Hyderabad
13        1014   Headphones  Accessories          45   9324  Bengaluru
14        1015       Camera  Electronics          19   1091     Mumbai
15        1016       Camera  Electronics          41  36622    Chennai
16        1017      Speaker  Accessories          46  38209    Chennai
17        1018      Speaker  Accessories          19  48114    Kolkata
18        1019       Laptop  Electronics          25  18984  Hyderabad
19        1020        Mouse      Gadgets          20  22593    Kolkata

In [168]:
df.rename(columns = {"Product_ID" : "id"}, inplace = True)

In [180]:
df.loc[5] = [3, 'Tablet', 'Electronics', 15, 20000, 'Chennai']

In [181]:
df

      id Product_Name     Category  Units_Sold  Price       City
0      3       Tablet  Electronics          15  20000    Chennai
1   1002      Speaker  Electronics           2  39904  Bengaluru
2   1003       Camera  Electronics          37  39502    Kolkata
3   1004       Laptop  Accessories          24   1557    Chennai
4   1005      Printer      Gadgets          35  33905  Bengaluru
5      3       Tablet  Electronics          15  20000    Chennai
6   1007       Laptop  Accessories           6   3554    Chennai
7   1008       Laptop      Gadgets          16  35784  Bengaluru
8   1009      Printer  Electronics          24  39704    Chennai
9   1010       Camera  Accessories           1  20577      Delhi
10  1011      Monitor      Gadgets          12   7366  Hyderabad
11  1012       Tablet  Accessories          20  28818  Bengaluru
12  1013       Laptop  Electronics          42  45221  Hyderabad
13  1014   Headphones  Accessories          45   9324  Bengaluru
14  1015       Camera  Electronics          19   1091     Mumbai
15  1016       Camera  Electronics          41  36622    Chennai
16  1017      Speaker  Accessories          46  38209    Chennai
17  1018      Speaker  Accessories          19  48114    Kolkata
18  1019       Laptop  Electronics          25  18984  Hyderabad
19  1020        Mouse      Gadgets          20  22593    Kolkata
20     3       Tablet  Electronics          15  20000    Chennai

In [195]:
df.loc[0]["Category"] = "hhhh"

C:\Users\muska\AppData\Local\Temp\ipykernel_5276\4151096639.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[0]["Category"] = "hhhh"

In [196]:
df

      id Product_Name     Category  Units_Sold  Price       City
0      3       Tablet       Digita          15  20000    Chennai
1   1002      Speaker  Electronics           2  39904  Bengaluru
2   1003       Camera  Electronics          37  39502    Kolkata
3   1004       Laptop  Accessories          24   1557    Chennai
4   1005      Printer      Gadgets          35  33905  Bengaluru
5      3       Tablet  Electronics          15  20000    Chennai
6   1007       Laptop  Accessories           6   3554    Chennai
7   1008       Laptop      Gadgets          16  35784  Bengaluru
8   1009      Printer  Electronics          24  39704    Chennai
9   1010       Camera  Accessories           1  20577      Delhi
10  1011      Monitor      Gadgets          12   7366  Hyderabad
11  1012       Tablet  Accessories          20  28818  Bengaluru
12  1013       Laptop  Electronics          42  45221  Hyderabad
13  1014   Headphones  Accessories          45   9324  Bengaluru
14  1015       Camera  Electronics          19   1091     Mumbai
15  1016       Camera  Electronics          41  36622    Chennai
16  1017      Speaker  Accessories          46  38209    Chennai
17  1018      Speaker  Accessories          19  48114    Kolkata
18  1019       Laptop  Electronics          25  18984  Hyderabad
19  1020        Mouse      Gadgets          20  22593    Kolkata
20     3       Tablet  Electronics          15  20000    Chennai

In [198]:
df.sort_values(by = 'Age', ascending = True)

KeyError: 'Age'

In [216]:
class Human:
    def __init__(self, fullName, age, color):
        self.name = fullName
        self.age = age
        self.color = color
        
    def tellYourName(self):
        print("Hi my name is " + self.name)
    def tellYourAge(self):
        print("hi my age is " + str(self.age))

In [219]:
h1 = Human("Muskan")
h2 = Human("Somendra")

TypeError: Human.__init__() missing 2 required positional arguments: 'age' and 'color'

In [207]:
h1.tellYourName()

Hi my name is Muskan

In [208]:
h2.tellYourName()

Hi my name is Somendra

In [217]:
h3 = Human("Somadri", 28, "xyz")

In [218]:
h3.tellYourAge()

hi my age is 28

In [222]:
class Car:
   def __init__(self, color, tyre, expire):
       self.color = color
       self.tyre = tyre
       self.expire = expire

   def colourTypre(self):
       print("Clour of my car is" + self.color)

gi = Car("Black", 4, 45)
gi.colourTypre()

Clour of my car isBlack